<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    @media (min-width: 750px) {
      body {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .parent {
      background-color: white;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
      color: black;
    }
    .logo {
      width: 51px;
    }
    .heading {
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      margin-top: 30px;
    }
    .hello {
      font-size: 14px;
      font-weight: 500;
      margin-top: 30px;
    }
    .name {
      font-weight: 700;
    }
    .text {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-top: 20px;
    }
    .background {
      margin-top: 10px;
    }
    .heading2 {
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
    }
    .link {
      color: orange;
    }
    .social {
      display: flex;
      gap: 12px;
    }
    .footer {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }
    .socialIcon {
      width: 24px;
    }
    a {
      text-decoration: none;
    }
    .details {
      margin-bottom: 10px;
    }
  </style>
  <body style="font-family: 'Work Sans', sans-serif">
    <div class="parent">
      <div>
        <img
          class="logo w-[51px]"
          src="<%- base_url %>/assets/mail/logo4.png"
        />
      </div>

      <h4 class="text">
        <%- first_name %> <%- last_name %> got a score of <%- score %>% in
        discovering the new you assessment.
      </h4>
      <div class="details">
        <span class="heading2" style="color: #000000">Email:</span>
        <span> <%- email %></span>
      </div>
      <div class="details">
        <span class="heading2" style="color: #000000">Phone Number:</span>
        <span> <%- phone_number %></span>
      </div>
      <div class="details">
        <span class="heading2" style="color: #000000">Country:</span>
        <span> <%- country %></span>
      </div>
    </div>
  </body>
</html>
